.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .column-third {
    width: calc(80% / 3);
  }
}

@media screen and (max-width: 500px) {
  .nav a {
    display: block;
  }

  .width-50 {
    width: 100%;
  }

  .modal {
    height: 230px;
    width: 170px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 0.5rem;
  }

  .modal-btn-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .image {
    margin-top: 2rem;
    height: 20rem;
    width: 70%;
    object-fit: scale-down;
  }
}
