header {
  background-color: #f3a330;
  margin: 0;
  padding: 0;
  height: 4rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  font-family: 'Open Sans', sans-serif;
}

.logo {
  margin-top: 0.5rem;
}

.alfa-font {
  font-family: 'Alfa Slab One', cursive;
}

.light-font {
  color: #faf2e4;
}

.no-decoration {
  text-decoration: none;
}

.nav {
  margin-top: 1rem;
  font-weight: bold;
}

.spacing {
  word-spacing: 1.5rem;
}

.right {
  float: right;
}

.left {
  float: left;
}

.width-50 {
  width: 50%;
}

.image {
  margin-top: 2rem;
  height: 30rem;
  width: 70%;
  object-fit: scale-down;
}

.orange-color {
  background-color: #f3a330;
}

.lightbrown-color {
  background-color: #fde0b6;
}

.red-color {
  background-color: red;
}

.rounded {
  border-radius: 5px;
}

.no-border {
  border: 0 solid black;
}

.main-btn-margin {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.stay-btn-margin {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
}

.release-btn-margin {
  margin-top: 1rem;
  padding: 0.5rem 0.5rem;
}

.center-text {
  text-align: center;
}

.merienda {
  font-family: 'Merienda', cursive;
}

.merienda-fontsize {
  font-size: larger;
}

img {
  width: 100%;
}

.nav-ham {
  visibility: hidden;
}

.image-div {
  width: 50rem;
  height: 30rem;
  overflow: hidden;
}

.collection-item {
  padding: 2rem 0.5rem;
  border: 0.2px solid rgb(192, 192, 192);
  margin: 1.2rem;
  background-color: rgb(228, 225, 225);
  cursor: pointer;
  overflow: hidden;
}

.collection-item:hover {
  background-color: gray;
  transition: 0.5s;
}

.pointer {
  cursor: pointer;
}

.collection-img {
  padding: 1rem;
  border-bottom: 1rem;
  object-fit: scale-down;
  width: 100%;
  height: 15rem;
}

.img-row {
  flex-wrap: wrap;
}

.release-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.overlay {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  background: rgba(22, 22, 22, 0.596);
}

.modal {
  width: 375px;
  height: 160px;
  position: relative;
  top: 30%;
  left: 30%;
  padding: 0.5rem;
}

@media screen and (max-width: 500px) {
  .nav {
    display: none;
  }

  .nav-ham {
    visibility: visible;
    margin-top: 1rem;
    text-align: right;
  }

  .image-div {
    width: 5rem;
    height: 3rem;
    overflow: hidden;
  }

  .width-50 {
    width: 100%;
  }

  .modal {
    height: 230px;
    width: 170px;
    position: relative;
    top: 30%;
    left: 30%;
    padding: 0.5rem;
  }

  .modal-btn-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}
