header{
  background-color: #F3A330;
  margin: 0;
  padding: 0;
  height: 4rem;
}


.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.logo{
  margin-top: .5rem;
}

.alfa-font{
font-family: 'Alfa Slab One', cursive;
/* font-weight: light; */
}

.light-font{
  color: #FAF2E4;
}

.no-decoration{
  text-decoration: none;
}

.nav{
  margin-top: 1rem;
  font-weight: bold;
}

.spacing{
  word-spacing: 1.5rem;
}

.right{
  float: right;

}

.width-50{
  width: 50%;
}

.image{
  margin-top: 2rem;
  width: 70%;
}


.orange-color{
  background-color: #F3A330;
}

.rounded{
  border-radius: 5px;
}
.no-border{
  border: 0 solid black;
}

.summon-btn{
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.nav-ham{
  visibility: hidden;
}

@media screen and (max-width: 500px) {
  .nav{
    display: none;
  }

  .nav-ham{
    visibility: visible;
    margin-top: 1rem;
    text-align: right;
  }

}
