header {
  background-color: #f3a330;
  margin: 0;
  padding: 0;
  height: 4rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  font-family: 'Open Sans', sans-serif;
}

.logo {
  margin-top: 0.5rem;
}

.alfa-font {
  font-family: 'Alfa Slab One', cursive;
}

.light-font {
  color: #faf2e4;
}

.no-decoration {
  text-decoration: none;
}

.nav {
  margin-top: 1rem;
  font-weight: bold;
}

.spacing {
  word-spacing: 1.5rem;
}

.right {
  float: right;
}

.width-50 {
  width: 50%;
}

.image {
  margin-top: 2rem;
  width: 70%;
}

.orange-color {
  background-color: #f3a330;
}

.red-color {
  background-color: red;
}

.rounded {
  border-radius: 5px;
}

.no-border {
  border: 0 solid black;
}

.main-btn-margin {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.warning {
  text-align: center;
}

img {
  width: 100%;
}

.nav-ham {
  visibility: hidden;
}

.image-div {
  width: 50rem;
  height: 30rem;
  overflow: hidden;
}

.collection-item {
  padding: 2rem 0.5rem;
  border: 1px solid white;
  background-color: lightgray;
  cursor: pointer;
  width: 17.7rem;
  height: 100%;
  overflow: hidden;
}

.collection-item:hover {
  background-color: gray;
  transition: 0.5s;
}

.collection-img {
  border-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .nav {
    display: none;
  }

  .nav-ham {
    visibility: visible;
    margin-top: 1rem;
    text-align: right;
  }

  .image-div {
    width: 5rem;
    height: 3rem;
    overflow: hidden;
  }
}
